Repository googleapis/python-compute, pull requests merged in 2021-04, with the labels that each got.

#35 chore: reorder class names
  google/cloud/compute_v1/__init__.py
  scripts/fixup_compute_v1_keywords.py
  synth.metadata
Labels: api: compute, cla: yes, context: none

#37 chore: add license headers
  .pre-commit-config.yaml
  docs/conf.py
  google/cloud/compute_v1/__init__.py
  synth.metadata
Labels: api: compute, automerge, cla: yes, context: partial

#41 chore: prevent normalization of semver versioning
  setup.py
Labels: api: compute, cla: yes

#44 chore(revert): revert preventing normalization
  setup.py
Labels: api: compute, cla: yes
