Repository googleapis/python-compute, pull requests merged in 2021-11, with the labels that each got.

#137 chore: template updates
  .gitignore
  .kokoro/docs/common.cfg
  noxfile.py
  synth.metadata
Labels: cla: yes, api: compute, context: none

#139 chore(docs): Securing tests against leaks.
  samples/snippets/sample_create_vm.py
  samples/snippets/test_sample_create_vm.py
Labels: cla: yes, api: compute

#134 chore(docs): Updating firewall samples.
  samples/snippets/sample_firewall.py
  samples/snippets/test_sample_firewall.py
Labels: cla: yes, samples, api: compute

#142 chore(samples): fix region tag import
  samples/snippets/sample_start_stop.py
Labels: cla: yes, samples, api: compute

#149 chore: assign googleapis/api-compute as codeowners
  .repo-metadata.json
  synth.metadata
Labels: cla: yes, api: compute

#136 docs(samples): Adding template samples
  samples/snippets/sample_templates.py
  samples/snippets/test_sample_start_stop.py
  samples/snippets/test_sample_templates.py
Labels: cla: yes, samples, api: compute

#152 chore: update doc links from googleapis.dev to cloud.google.com
  .repo-metadata.json
  README.rst
Labels: automerge, cla: yes, api: compute

#159 docs(samples): Adding samples for instance from template creation
  samples/snippets/sample_instance_from_template.py
  samples/snippets/test_sample_instance_from_template.py
Labels: cla: yes, samples, api: compute
