Repository googleapis/python-compute, pull requests merged in 2022-01, with the labels that each got.

#180 chore(samples): Fixing a small issue with sample region tags
  samples/snippets/sample_create_vm.py
Labels: samples, api: compute

#179 chore(samples): Removing some leaked instances.
  samples/snippets/test_sample_firewall.py
Labels: samples, api: compute

#177 tests: remove int64 field test
  tests/system/test_smoke.py
Labels: api: compute

#189 feat: bump release level to production/stable
  .repo-metadata.json
  README.rst
  setup.py
Labels: automerge, api: compute

#198 chore(samples): Docstring fix
  samples/snippets/sample_start_stop.py
Labels: automerge, samples, api: compute

#202 chore: make samples 3.6 check optional
  .github/sync-repo-settings.yaml
Labels: samples, api: compute
